<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 style="color: #333">X</h1>
      <section>
        <h2 style="margin-top: 30px">Edit Post</h2>
        <div class="main-container">
          <form action="/edit-post/<%= post.id %>" method="POST" class="new-post-form">
            <input
              type="text"
              name="title"
              class="form-input font-input"
              style="font-weight: 600"
              value="<%= post.title %>"
              required
            />
            <textarea name="content" class="form-input" style="height: 100px; resize: none" required>
<%= post.content %></textarea
            >
            <div class="actions">
              <button type="submit" class="button-submit button">SUBMIT</button>
              <a class="cancel button" href="/">CANCEL</a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
